SERVER_ADDRESS=0.0.0.0:8080
JWT_KEY=

#SMTP
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST= #192.168.68.102
SMTP_PORT=2525
SMTP_SENDER_NAME=noreply@sadhana.pro
SMTP_TLS_ENABLED=N

#DB
DATABASE_URL=

# Backend Logging
RUST_LOG=DEBUG