@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?bln048');
  src: url('fonts/icomoon.eot?bln048#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bln048') format('truetype'),
    url('fonts/icomoon.woff?bln048') format('woff'),
    url('fonts/icomoon.svg?bln048#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 1.15em;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
  text-align: center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-minus:before {
  content: "\e900";
}

.icon-users:before {
  content: "\e901";
}

.icon-user:before {
  content: "\e902";
}

.icon-user-solid:before {
  content: "\e903";
}

.icon-user-plus:before {
  content: "\e904";
}

.icon-user-group:before {
  content: "\e905";
}

.icon-user-group-solid:before {
  content: "\e906";
}

.icon-user-circle:before {
  content: "\e907";
}

.icon-timer:before {
  content: "\e908";
}

.icon-tick:before {
  content: "\e909";
}

.icon-tick-solid:before {
  content: "\e90a";
}

.icon-table:before {
  content: "\e90b";
}

.icon-star:before {
  content: "\e90c";
}

.icon-share:before {
  content: "\e90d";
}

.icon-share-solid:before {
  content: "\e90e";
}

.icon-settings:before {
  content: "\e90f";
}

.icon-settings-solid:before {
  content: "\e910";
}

.icon-send:before {
  content: "\e911";
}

.icon-send-solid:before {
  content: "\e912";
}

.icon-rounds:before {
  content: "\e913";
}

.icon-rounds-solid:before {
  content: "\e914";
}

.icon-reload:before {
  content: "\e915";
}

.icon-plus:before {
  content: "\e916";
}

.icon-moon:before {
  content: "\e917";
}

.icon-moon-solid:before {
  content: "\e918";
}

.icon-minus:before {
  content: "\e919";
}

.icon-mail:before {
  content: "\e91a";
}

.icon-mail-solid:before {
  content: "\e91b";
}

.icon-logout:before {
  content: "\e91c";
}

.icon-login:before {
  content: "\e91d";
}

.icon-lock:before {
  content: "\e91e";
}

.icon-lock-open:before {
  content: "\e91f";
}

.icon-list:before {
  content: "\e920";
}

.icon-link:before {
  content: "\e921";
}

.icon-lang:before {
  content: "\e922";
}

.icon-key:before {
  content: "\e923";
}

.icon-key-solid:before {
  content: "\e924";
}

.icon-info:before {
  content: "\e925";
}

.icon-import:before {
  content: "\e926";
}

.icon-import-solid:before {
  content: "\e927";
}

.icon-home:before {
  content: "\e928";
}

.icon-home-solid:before {
  content: "\e929";
}

.icon-help:before {
  content: "\e92a";
}

.icon-heart:before {
  content: "\e92b";
}

.icon-graph:before {
  content: "\e92c";
}

.icon-graph-solid:before {
  content: "\e92d";
}

.icon-eye:before {
  content: "\e92e";
}

.icon-eye-solid:before {
  content: "\e92f";
}

.icon-eye-cross:before {
  content: "\e930";
}

.icon-eye-cross-solid:before {
  content: "\e931";
}

.icon-ellipsis-vertical:before {
  content: "\e932";
}

.icon-edit:before {
  content: "\e933";
}

.icon-edit-solid:before {
  content: "\e934";
}

.icon-download:before {
  content: "\e935";
}

.icon-download-solid:before {
  content: "\e936";
}

.icon-doc:before {
  content: "\e937";
}

.icon-doc-solid:before {
  content: "\e938";
}

.icon-doc-dup:before {
  content: "\e939";
}

.icon-clock:before {
  content: "\e93a";
}

.icon-clock-solid:before {
  content: "\e93b";
}

.icon-chevron-up-down:before {
  content: "\e93c";
}

.icon-chevron-right:before {
  content: "\e93d";
}

.icon-chevron-left:before {
  content: "\e93e";
}

.icon-chevron-down:before {
  content: "\e93f";
}

.icon-cap:before {
  content: "\e940";
}

.icon-calendar:before {
  content: "\e941";
}

.icon-calendar-solid:before {
  content: "\e942";
}

.icon-bin:before {
  content: "\e943";
}

.icon-bin-solid:before {
  content: "\e944";
}

.icon-bars:before {
  content: "\e945";
}

.icon-bars-solid:before {
  content: "\e946";
}

.icon-ant:before {
  content: "\e947";
}

.icon-adjust:before {
  content: "\e948";
}

.icon-adjust-solid:before {
  content: "\e949";
}

.icon-bell:before {
  content: "\e94a";
}