<body>
    <span class="preheader">Используйте эту ссылку для сброса пароля. Срок годности ссылки 15 минут.</span>
    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
            <td align="center">
                <table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                        <td class="email-masthead">
                            <a href="https://sadhana.pro/" class="f-fallback email-masthead_name">
                                Дневник Садханы
                            </a>
                        </td>
                    </tr>
                    <!-- Email Body -->
                    <tr>
                        <td class="email-body" width="570" cellpadding="0" cellspacing="0">
                            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                                role="presentation">
                                <!-- Body content -->
                                <tr>
                                    <td class="content-cell">
                                        <div class="f-fallback">
                                            <h1>Здравствуйте,</h1>
                                            <p>Вы запросили ссылку на сброс пароля Вашей учетной записи в программе
                                                Дневник Садханы. Нажмите на кнопку ниже чтоб продолжить. <strong>У Вас
                                                    есть только 15 минут после чего ссылка будет не
                                                    действителена.</strong></p>
                                            <!-- Action -->
                                            <table class="body-action" align="center" width="100%" cellpadding="0"
                                                cellspacing="0" role="presentation">
                                                <tr>
                                                    <td align="center">
                                                        <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                            role="presentation">
                                                            <tr>
                                                                <td align="center">
                                                                    <a href="{action_url}"
                                                                        class="f-fallback button button--green"
                                                                        target="_blank">Сбросить пароль</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>Если Вы не запрашивали сброс пароля, просто удалите это письмо или
                                                обратитесь в службу поддержки.</p>
                                            <p>Спасибо,
                                                <br>Школа Джапа Медитации
                                            </p>
                                            <!-- Sub copy -->
                                            <table class="body-sub" role="presentation">
                                                <tr>
                                                    <td>
                                                        <p class="f-fallback sub">Если кнопка не работает по каким-то
                                                            причинам, скопируйте ссылку ниже и вставте ее в веб браузер.
                                                        </p>
                                                        <p class="f-fallback sub">{action_url}</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0"
                                role="presentation">
                                <tr>
                                    <td class="content-cell" align="center">
                                        <p class="f-fallback sub align-center">
                                            Школа Джапа Медитации
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>