@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the icon chrome browsers add on the right of input with type date or time */
input::-webkit-calendar-picker-indicator {
    display: none;
    background: none;
}

/* Spinner */
.loader {
    border-top-color: #380202;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.logo {
    filter: brightness(0) saturate(100%) invert(66%) sepia(65%) saturate(439%) hue-rotate(358deg) brightness(110%) contrast(97%);
}

.icon {
    margin-right: 8px;
    margin-left: 8px;
}

.menu {
    color: #a2a2ab;
}

.menu:hover {
    color: #f59e0b !important;
}

.links {
    margin-top: 5px !important;
}

.toggle-checkbox:checked {
    @apply: right-0 border-amber-400;
    right: 0;
    border-color: #f59e0b;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-amber-400;
    background-color: #ffffff;
  }

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}