@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the icon chrome browsers add on the right of input with type date or time */
input::-webkit-calendar-picker-indicator {
    display: none;
    background: none;
}

/* Remove the icon chrome/safary add on the right of input with type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove the native arrow in summary/detail */
details summary::-webkit-details-marker {
    display: none;
}

/* Spinner */
.loader {
    border-top-color: #380202;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.logo {
    filter: brightness(0) saturate(100%) invert(66%) sepia(65%) saturate(439%) hue-rotate(358deg) brightness(110%) contrast(97%);
}

.menu {
    color: #a2a2ab;
    font-size: 1.3em;
}

.menu:hover {
    color: #f59e0b !important;
}

.links {
    margin-top: 30px !important;
}

.group:focus .group-focus\:max-h-screen {
    max-height: 100vh;
}

.group:focus .group-focus\:text-white {
    --text-opacity: 1;
    color: #02455a;
}

.group:focus .group-focus\:-rotate-90 {
    --tw-rotate: 90deg;
}

.focus-within\:max-h-screen:focus-within {
    max-height: 100vh;
}

.toggle-checkbox:checked {
    @apply: right-0 border-amber-400;
    right: 0;
    border-color: #f59e0b;
}

.toggle-checkbox:checked+.toggle-label {
    @apply: bg-amber-400;
    background-color: #ffffff;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

html {
    min-height: calc(100% + env(safe-area-inset-top));
}

/* Workaround for plotly responsive graph not taking enough room on the screen */
.plot-container {
    min-height: 450px;
}