@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove the icon chrome browsers add on the right of input with type date or time */
input::-webkit-calendar-picker-indicator {
    display: none;
    background: none;
}

/* Spinner */
.loader {
    border-top-color: #380202;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.logo {
    filter: brightness(0) saturate(100%) invert(66%) sepia(65%) saturate(439%) hue-rotate(358deg) brightness(101%) contrast(92%);
}

.logo-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7467%) hue-rotate(360deg) brightness(108%) contrast(107%)
}

.icon {
    margin-right: 8px;
    margin-left: 8px;
}

.links {
    margin-top: 5px !important;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}