name: Build and Upload to Docker Hub

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          docker build \
            --build-arg GIT_SHA=${GITHUB_SHA} \
            -t japaschool/sadhana:latest \
            -t japaschool/sadhana:git-${SHORT_SHA} \
            .

      - name: Push Docker image
        run: |
          docker push japaschool/sadhana:latest
          docker push japaschool/sadhana:git-${GITHUB_SHA::7}

      - name: Configure SSH
        run: |
              mkdir -p ~/.ssh/
              echo "$SSH_KEY" > ~/.ssh/sadhana.key
              chmod 600 ~/.ssh/sadhana.key
              cat >>~/.ssh/config <<END
              Host sadhana
                HostName $SSH_HOST
                User $SSH_USER
                IdentityFile ~/.ssh/sadhana.key
                StrictHostKeyChecking no
              END
        env:
              SSH_USER: sadhana
              SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
              SSH_HOST: ${{ secrets.SSH_HOST }}

      - name: Executing update script
        run: |
          ssh sadhana "bash /home/sadhana/scripts/sadhana_reload.sh git-${GITHUB_SHA::7}"
